.header {
    font-size: 18px;
    padding: rem(30) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &_white {
        border: none;
        .header__enter-icon path {
            fill: #fff;
        }
        .header__enter {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .header-menu__link {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .burger-menu span {
            background-color: #fff;
        }
        color: #fff;
    }

    &_dark {
        .header__enter-icon path{
            fill: #000;
        }
        .header__enter {
            color: $black;
            &:hover {
                color: $black;
            }
        }
        .header-menu__link {
            color: #000;
        }
        .burger-menu span {
            background-color: #000;
        }
        color: $black;
    }

    &__col {
        &_logo {
            flex: 0 0 25%;
            margin: 0 60px 0 0;
        }
        &_menu {
            flex: 0 1 12.777%;
            justify-content: flex-start;
        }
        &_enter {
            flex: 0 1 62.333%;
            justify-content: flex-end;
            text-decoration: none;
        }
    }

    &__logo {
        max-width: 220px;
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__menu {
        display: flex;
        list-style: none;
    }

    &__enter {
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    &__enter-icon {
        margin: 0 13px 0 0;
    }

    .row {
        align-items: center;
    }

    &__menu-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
    }

   .burger-menu {
        display: none;
   }
}
.header-menu {
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin: 0 rem(120) 0 0;
        &_mob {
            display: none;
        }
    }

    &__link {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: $black;
            text-decoration: none;
        }
    }

    &__info {
        display: none;
    }

}

@media (max-width:680px){
    .header{ 

        &__enter {
            display: none;
        }

        &__menu {
            position: fixed;
            overflow-y: scroll;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 0;
            display: none;
            background-color: #fff;
            transition: .3s;
            padding: 0 0 0 20px;
        }
        .burger-menu {
            display: block;
            &__input {
                display: block;
            }
        }

        .header-menu {
            &__list {
                padding: 111px 0 0 0;
                flex-direction: column;
            }
            &__item {
                margin: 7px 0;
                &_mob {
                    display: block;
                }
            }
            &__link {
                padding: 7px 0;
                font-size: 14px;
                color: $black;
            }

            &__info {
                list-style: none;
                padding: 0;
                margin: 0;
                display: block;
            }

            &__info-link {
                text-decoration: none;
                color: rgba(7, 7, 7, 0.6);
                font-size: 14px;
                &:hover {
                    text-decoration: none;
                    color: rgba(7, 7, 7, 0.6);
                }
            }
        }
    }

    .header-menu {
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
}