.home-problems {
    background-color: #F2EFE9;
    padding: rem(90) 0;
    &__title {
        line-height: 52px;

        span {
            background-color: #000F20;
            padding: 2px 13px;
            margin: 4px 0 0 0;
            color: #fff;
        }
    }

    &__items {
    }

    &__item {
    }

    &__icon {
    }

    &__text {
    }
}
